---
import Pools from '../components/pools.astro'

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>nrbo</title>
		<style>
			html, body {
				height: 100%;
				background: black;
				margin: 0;
				padding: 0;
			}
			.title {
				color: white; 
				margin-block: 20px;
				span:nth-child(1), span:nth-child(2) {
					color: #2A7B9B;
				}
				span:nth-child(3) {
					color: #42A48F;
				}
				span:nth-child(4) {
					color: #57C785;
				}
				span:nth-child(5) {
					color: #A7D36A;
				}
				span:nth-child(6) {
					color: #EDDD53;
				}
			}
			body {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}
		</style>
	</head>
	<body>
		<pre class="title">             
<span>             _           </span>
<span>            | |          </span>
<span>  _ __  _ __| |__   ___  </span>
<span> | '_ \| '__| '_ \ / _ \ </span>
<span> | | | | |  | |_) | (_) |</span>
<span> |_| |_|_|  |_.__/ \___/ </span>
		</pre>
		<Pools>
	</body>
</html>
