---
---

<style>
    #canvas {
        width: 100%;
        max-width: 500px;
    }
    .canvas-container {
        margin: 30px;
    }
</style>
<div class="canvas-container">
<canvas id="canvas"></canvas></div>
<script>
    import "../scripts/pools"
</script>